<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.google.android.ads.nativetemplates">
  <application android:supportsRtl="true">
    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-1532821601771222~6969847546"/>
  </application>


</manifest>
