<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jtsoft.wimmy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera2" android:required="false"/>


    <!-- 하드웨어 가속 -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1532821601771222~6969847546"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jtsoft.wimmy"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.jtsoft.wimmy.Activity.MainActivity">
        </activity>
        <activity android:name="com.jtsoft.wimmy.Activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>
        <activity android:name="com.jtsoft.wimmy.Activity.Main_PhotoView">
        </activity>
        <activity
            android:name="com.jtsoft.wimmy.Activity.PhotoViewPager"
            android:theme="@style/PhotoTheme">
        </activity>
        <activity android:name="com.jtsoft.wimmy.Activity.Main_Map"/>
        <activity android:name="com.jtsoft.wimmy.Activity.SearchView">
        </activity>
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="label" />
    </application>

</manifest>